* {
    font-family: "Exo" !important;
}

h1 {
    margin-top: 15px;
    margin-left: 15px;
    font-weight: 100;
}

/* DIAGRAM */

.diagramContainer {
    width: 100%;
    height: 500px;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diagram {
    background: transparent;   
    width: 1000px;
    height: 400px;
    text-align: center;
}

.leaf, #overlap, #leafShadow {
    width: 700px;
    height: 400px;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    border-radius: 300px;
    position: absolute;
    display: inline-block;
}

#leafL { 
    margin-left: -500px;
    background: rgba(255, 0, 0, 0.5);
    z-index: 2;
}

#leafR { 
    background: rgba(0, 0, 255, 0.5);
    margin-left: -200px;
    z-index: 2;
}

#overlap {
    background: transparent;
    width: 400px;
    margin-left: -200px;
    z-index: 3;
    box-shadow: 0px 6px 1px 2px rgba(0, 0, 0, 0.2);
}

#leafShadow {
    width: 1000px;
    background: transparent;
    z-index: 1;
    margin-left: -500px;
    box-shadow: 0px 6px 1px 2px rgba(0, 0, 0, 0.2);
}

/* DIAGRAM TEXT */

.labelContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    z-index: 5;
    color: rgba(255, 255, 255, 0.568);
}

#labelContainerLeft { 
    padding-right: 380px;
}

#labelContainerRight { 
    padding-left: 380px;
}

.dataContainer, .spacer, .data {
    border-style: solid;
    border-width: 2px;
}

.dataContainer {
    height: 360px;
    width: 50%;

    padding: 30px;
    
    border-color: rgba(150, 128, 128, 0);

    position: absolute;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    font-size: 15pt;
    font-weight: normal;
}

#dataContainerLeft {
    flex-direction: row;
    padding-left: 50px;
}

#dataContainerRight {
    flex-direction: row-reverse;
    padding-right: 50px;
    margin-left: 266px;
}

#dataContainerMid {
    justify-content: center;
    width: 70%;
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 35px;
}

.spacer {
    width: 30px;
    height: 30px;
    border-color: rgba(255, 255, 255, 0);
}

.data {
    height: 28px;

    transition: opacity .2s;
    opacity: .8;

    background-image: linear-gradient(90deg, rgb(255, 255, 255, 0.8), rgb(255, 255, 255, 0.6));
    
    border-style: none;
    border-radius: 10px 10px 10px 0px;
    
    padding-left: 5px;
    padding-right: 5px;
}

.data:hover {
    opacity: 1;
}

.left.data {  
    margin-left: 10px;
}

.right.data {
    margin-right: 10px;
}

.data.problem::before {
    transition: padding-right .2s;
    position: absolute;

    padding-left: 3px;
    padding-right: 3px;

    margin-top: 28px;
    margin-left: -5px;

    font-size: 9pt;
    content: "Problem";

    background: rgba(255, 251, 0, 0.8);
    
    border-radius: 0px 0px 5px 5px;
}