* {
    font-family: "Exo";
}

h1 {
    margin-top: 15px;
    margin-left: 15px;
    font-weight: 100;
}

p {
    margin-left: 15px;
    font-size: 10pt;
    font-style: italic;
}

a {
    text-decoration: none;
    color: inherit;
}

/* DIAGRAM */

.diagramContainer {
    margin-top: -20px;
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.diagram {
    background: transparent;   
    width: 1000px;
    height: 400px;
    text-align: center;
}

.leaf, #overlap, #leafShadow {
    width: 700px;
    height: 400px;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    border-radius: 300px;
    position: absolute;
    display: inline-block;
}

#leafL { 
    margin-left: -500px;
    background: rgba(255, 0, 0, 0.5);
    z-index: 2;
}

#leafR { 
    background: rgba(0, 0, 255, 0.5);
    margin-left: -200px;
    z-index: 2;
}

#overlap {
    background: transparent;
    width: 400px;
    margin-left: -200px;
    z-index: 3;
    box-shadow: 0px 6px 1px 2px rgba(0, 0, 0, 0.2);
}

#leafShadow {
    width: 1000px;
    background: transparent;
    z-index: 1;
    margin-left: -500px;
    box-shadow: 0px 6px 1px 2px rgba(0, 0, 0, 0.2);
}

/* DIAGRAM TEXT */

.labelContainer {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: absolute;
    z-index: 10;
}

.label {
    transition: all .2s ease-in-out;
    color: rgba(255, 255, 255);
    opacity: .5
}

.label:hover {
    color: rgba(255, 255, 255);
    opacity: 1;
}

.labelContainer:hover {
    color: rgba(255, 255, 255);
    opacity: 1;
}

#labelContainerLeft { 
    padding-right: 390px;
}

#labelContainerRight { 
    padding-left: 410px;
    padding-right: 20px;
}

.dataContainer, .spacer, .data {
    border-style: solid;
    border-width: 2px;
}

.dataContainer {
    height: 360px;
    width: 50%;

    padding: 30px;
    
    border-color: rgba(150, 128, 128, 0);

    position: absolute;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    font-size: 15pt;
    font-weight: normal;
}

#dataContainerLeft {
    flex-direction: row;
    padding-left: 20px;
}

#dataContainerRight {
    flex-direction: row-reverse;
    padding-right: 50px;
    margin-left: 266px;
}

#dataContainerMid {
    justify-content: center;
    width: 90%;
    flex-direction: row;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: -7px;
}

.spacer {
    width: 30px;
    height: 30px;
    border-color: rgba(255, 255, 255, 0);
}

.spacer2x {
    width: 60px;
    height: 30px;
    border-color: rgba(255, 255, 255, 0);
}

.data {
    height: 28px;

    transition: all .2s;
    opacity: .8;

    background: rgba(255, 255, 255, 0.7);
    
    border-style: none;
    border-radius: 10px 10px 10px 0px;
    
    padding-left: 6px;
    padding-right: 6px;
    box-sizing: border-box;
    z-index: 11;
}

.data.problem:hover {
    opacity: 1;
    background: rgba(251, 255, 0, 0.8);
}

.data.solution:hover {
    opacity: 1;
    background: rgba(80, 200, 120, 0.8);
}

.data.bottomline:hover {
    background: rgba(255, 255, 255, 0.8);
    opacity: 1;
}


.left.data {  
    margin-left: 10px;
}

.right.data {
    margin-right: 10px;
}

.data::before {
    position: absolute;

    padding-left: 3px;
    padding-right: 3px;

    margin-top: 28px;
    margin-left: -6px;

    font-size: 9pt;
    content: "Problem";
    
    border-radius: 0px 0px 5px 5px;
}

.data.problem::before {
    content: "Problem";
    background: rgba(251, 255, 0, 0.8)
}

.data.solution::before {
    content: "Solution";
    background: rgba(80, 200, 120, 0.8);
}

.data.bottomline::before {
    content: "Bottom Line";
    background: rgba(173, 173, 173, 0.8);
}

#slate {
    margin-bottom: -1px;
    height: 15px;
    margin-left: 2px;
    border-left: 2px solid white;
    padding-left: 5px;
}

#neatoday {
    height: 15px;
    margin-bottom: -2px;
    margin-left: 2px;
    border-left: 2px solid white;
    padding-left: 5px;
    padding-top: -1px;
}